%h3
  = f.label :name, t(:name)
= f.text_field :name, :size => 60

%h3
  = f.label :author, t(:author)
= f.text_field :author

%h3
  = f.label :version, "Version"
= f.text_field :version

%h3
  = f.label :description, "Description"
= f.text_area :description, :rows => 4, :class => "mceEditor"

%h3 Field descriptors (Interface section)
= f.fields_for :field_descriptors, @system_interface_fields do |field_descriptor_fields|
  = render :partial => 'field_descriptor', :locals => {:f => field_descriptor_fields}

%h3 Field descriptors (Solution section)
= f.fields_for :field_descriptors, @system_solution_fields do |field_descriptor_fields|
  = render :partial => 'field_descriptor', :locals => {:f => field_descriptor_fields}
