%h3
  = f.label :name, t(:name)
= f.text_field :name, :size => 60

%h3
  = f.label :author, t(:author)
= f.text_field :author

%h3
  = f.label :version, "Version"
= f.text_field :version

%h3
  = f.label :description, "Description"
= f.text_area :description, :rows => 4, :class => "mceEditor"

