%h1 Editing system formalism

= form_for(@system_formalism) do |f|
  = f.error_messages
  = render :partial => 'form', :locals => {:f => f}
  .commands
    %p
      = f.submit t(:update)
      |
      = link_to t(:back), @system_formalism
