%h1= @system_formalism.name + " (v#{@system_formalism.version})"

%h2 Author(s)
%p= @system_formalism.author

%h2 Description
= @system_formalism.description

%h2 Pattern formalisms
%ul
  - @system_formalism.pattern_formalisms.each do |pattern_formalism|
    %li
      = pattern_formalism.name
      |
      = link_to t(:show), [@system_formalism, pattern_formalism]
      |
      = link_to t(:edit), edit_system_formalism_pattern_formalism_path(@system_formalism, pattern_formalism)
      |
      = link_to t(:delete), [@system_formalism, pattern_formalism], :confirm => 'Are you sure?', :method => :delete

%p= link_to 'Add a pattern formalism', new_system_formalism_pattern_formalism_path(@system_formalism)

%h2 Relation descriptors
%ul
  - @system_formalism.relation_descriptors.each do |relation_descriptor|
    %li
      = relation_descriptor.name
      .relationSquare{:style => "border-color: #{relation_descriptor.color_code}; width: 1em; height: 1em;"}
      - if relation_descriptor.associated_field.present?
        .fieldRelationsMore{:style => "display: inline-block"}= "(associated with field \"#{relation_descriptor.associated_field.name}\")"


.commands
  %p
    = link_to t(:edit), edit_system_formalism_path(@system_formalism)
