<h1><%= t :editing_pattern %> : <%= @process_pattern.name %></h1>


<% form_for(@process_pattern, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
	<%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit t :update %>
  </p>
<% end %>



<%= link_to t(:back), @process_pattern %>
