<h1><%= t :list_of_pattern_systems %></h1>

<table>
  <tr>
  </tr>

<% for pattern_system in @pattern_systems %>
  <tr>
	<td><%= pattern_system.name %></td>
    <td><%= link_to t(:show), pattern_system %></td>
    <td><%= link_to t(:edit), edit_pattern_system_path(pattern_system) %></td>
    <td><%= link_to t(:delete), pattern_system, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_pattern_system), new_pattern_system_path %>
