%h3
  = f.label :name, t(:name)
= f.text_field :name, :size => 60

%h2 Interface field descriptors

- f.fields_for :field_descriptors, @interface_fields do |field_descriptor_form|
  = render 'field_descriptor_form', :f => field_descriptor_form
= link_to_add_fields "add", f, :field_descriptors, 'field_descriptor_form', {:section => "solution"}

%h2 Solution field descriptors 

- f.fields_for :field_descriptors, @solution_fields do |field_descriptor_form|
  = render 'field_descriptor_form', :f => field_descriptor_form
= link_to_add_fields "add", f, :field_descriptors, 'field_descriptor_form', {:section => "solution"}

