= select_tag(name, options_from_collection_for_select(available, :id, :name, selected.map(&selected_value_method)), :multiple => true)
- local_relation_name = relation_descriptor.name.gsub(/\s+/,'_').downcase
.associationFields{:id => "#{local_relation_name}_#{relation_descriptor.id}"}
  = f.fields_for(association, selected) do |builder|
    = render 'relation_fields', :f => builder
:ruby
  new_object = f.object.send(association).build(:relation_descriptor_id => relation_descriptor.id)
  new_fields = nil
  f.fields_for(association, new_object, :child_index => "new_#{local_relation_name}") do |builder|
    new_fields = render 'relation_fields', :f => builder
  end
:javascript
  document.observe("dom:loaded", function() {
    new AgapSelector($("#{name.gsub(/\[/, '_').gsub(/\]^$/, '_').gsub(/\]$/, '')}"), AgapSelector.multi_states, AgapSelector.multi_transitions, "#{escape_javascript(new_fields)}", "#{local_relation_name}") ;
  }) ;
