%h3
  = field.name.capitalize
  -if @noob_mode
    = link_to_function "?", "new Effect.toggle('effect_interface_#{field.index}', 'slide', { duration : 0.2})", :class => "question_mark"
-if @noob_mode
  .helper_info{:id=>"effect_interface_#{field.index}", :style=>"display:none"}
    %p= field.description
-case field.field_type 
  -when 'string'
    = render :partial => 'string', :locals => {:f => f, :field => field} 
  -when 'text'
    = render :partial => 'text', :locals => {:f => f, :field => field}
  -when 'model_set'
    %p Should display a model set
  -when 'mappable_image'
    = render :partial => 'mappable_image', :locals => {:f => f, :field => field}
  -when 'classification'
    = render :partial => "classification", :locals => {:f => f, :field => field}
  -when 'multi_classification'
    = render :partial => 'multi_classification', :locals => {:f => f, :field => field}
