- if f.respond_to?(:field_descriptor) && @field_relations[f.field_descriptor.id] && !@field_relations[f.field_descriptor.id][:patterns].empty?
  .fieldRelations
    %p
      %b= @field_relations[f.field_descriptor.id][:relation_descriptor].name + ': ' + @field_relations[f.field_descriptor.id][:relation_descriptor].associated_field_description
      = link_to 'more', '#', :class => 'fieldRelationsMore', :id => "field_relations_#{f.field_descriptor.id}"
    %ul
      - @field_relations[f.field_descriptor.id][:patterns].each do |linked_pattern|
        %li
          %p= link_to linked_pattern.name, [@pattern_system, linked_pattern]
          - target_text_instance = linked_pattern.text_instances.select{|t| t.field_descriptor == f.field_descriptor}.first
          = target_text_instance.present? ? target_text_instance.content : "<p class='fieldRelationsMore'>No content was specified.</p>"
