%h2 Interface

%h3= f.label :name, 'Name'
.field
  = f.text_field :name, :size => 60
  = f.hidden_field :pattern_formalism_id
-@interface_fields.each do |field|
  = render :partial => 'fields', :locals => {:f => f, :field => field}

%h2 Solution
-@solution_fields.each do |field|
  = render :partial => 'fields', :locals => {:f => f, :field => field}

%h2 Relations
- @metamodel.relation_descriptors.each do |rel|
  - relations = @relations[rel.id]
  %h3= rel.name
  .field
    = render 'agap_select', :name => "relation_selector[#{rel.id}]", :f => f, :association => :relations, :available => relations[:available], :selected => relations[:selected], :selected_value_method => :target_pattern_id, :relation_descriptor => rel
