%h2 Interface

%h3= f.label :name, 'Name'
.field
  = f.text_field :name, :size => 60
  = f.hidden_field :pattern_formalism_id
-@interface_fields.each do |field|
  = render :partial => 'fields', :locals => {:f => f, :field => field}

%h2 Solution
-@solution_fields.each do |field|
  = render :partial => 'fields', :locals => {:f => f, :field => field}

%h2 Relations
- @metamodel.relation_descriptors.each do |rel|
  - relations = @relations[rel.id]
  %h3= rel.name
  .field
    = select_tag "relation_selector[#{rel.id}]", options_from_collection_for_select(relations[:available], :id, :name, relations[:selected].map(&:target_pattern).map(&:id)), {:multiple => true, :class => 'agap_multiple_selector'}
    = render :partial => 'relation_fields', :locals => {:f => f, :relations => relations[:selected]}


