<%= javascript_include_tag :defaults %>

<%= error_messages_for :image %>
<% form_for(:image, :url => {:controller => 'process_patterns', :action => 'tmp_upload', :id => id}, :html => {:multipart => true, :target => 'upload_frame'}) do |f| %>
<!-- <p>Selected the text: <input id="someval" name="someval" type="text" class="text" /></p>
<p>Custom arg: <input id="somearg" name="somearg" type="text" class="text" /></p> -->
<p>Upload image file:
<%= f.file_field :uploaded_data %>	
</p>

<%= f.submit 'Upload & Insert'  %>
<div id="images" style="height:100%;overflow: auto;">
	<ul>
	<% for image in @images %>
		<li><a href="javascript:void(0)" onclick="<%="UpImage.insert_image('#{image.public_filename()}');" %>">
	    <%= image_tag image.public_filename, :width =>  100 %> </a></li>
	<% end %>

	</ul>
	<!-- Loading images...
	<img src="/images/loading.gif" /> -->
</div>
<% end %>
<iframe id="upload_frame" name="upload_frame" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>