.map_fields
  = f.hidden_field :x_corner
  = f.hidden_field :y_corner
  = f.hidden_field :width
  = f.hidden_field :height
  = f.hidden_field :relation_id
  = f.hidden_field :mappable_image_id
  = f.hidden_field :_destroy
