- image_instance = @process_pattern.image_associations.select{|a| a.field_descriptor_id == field.id}.map(&:mappable_image).first
- association_instance = image_instance.blank? ? @process_pattern.image_associations.build(:field_descriptor_id => field.id) : ImageAssociation.where(:pattern_id => @process_pattern.id, :field_descriptor_id => field.id).first
- the_maps = association_instance.maps
- image_instance = image_instance.blank? ? association_instance.build_mappable_image(:pattern_system => @pattern_system) : image_instance

%div{:id=>"image_associations_#{field.id}"}
  =f.fields_for :image_associations, association_instance do |assoc_form|
    = assoc_form.hidden_field :_destroy, :class => 'destroyField'
    = assoc_form.hidden_field :pattern_id, :class => 'patternIdField' 
    = assoc_form.hidden_field :field_descriptor_id, :class => 'fieldDescriptorIdField'
    %div{:id=>"mappable_image_#{field.id}"}
      = assoc_form.fields_for :mappable_image, image_instance do |img_form|
        = img_form.file_field :image
        = img_form.hidden_field :pattern_system_id
        -unless image_instance.new_record?
          %dl{:id=>"mappable_image_image_#{field.id}", :class=>"mappable_image", :style=>"background: url(#{image_instance.image.url}) no-repeat; height: #{image_instance.image_height}px; width: #{image_instance.image_width}px;"}
    -unless association_instance.new_record?
      = assoc_form.fields_for :maps, the_maps do |map_form|
        = render :partial => "map_fields", :locals => {:f => map_form}
    = assoc_form.fields_for :maps, association_instance.maps.build, :child_index => "blank_map_record" do |map_form|
      = render :partial => "map_fields", :locals => {:f => map_form}

