<div id="pattern_selector" class="popup" style="position: fixed; height: 230px; display: none;">
<h2 style="margin-left: 0; float: none; padding-left: 0;">Pattern selector</h2>
<% remote_form_for Relation.new(:source_pattern_id => @process_pattern.id), :url => {:action => 'create_relation'}, :html=> {:id => 'pattern_selector_form'} do |relation_form| %>
<div>
<p>Please choose pattern to link to (from the current pattern):</p>
<p>
   <%= relation_form.collection_select :target_pattern_id, @pattern_system.patterns - [@process_pattern], :id, :name %>
</p>
</div>
<div>
<p>
Please choose a type of relation between the patterns:
</p>
<p>
  <%= relation_form.collection_select :relation_descriptor_id, @pattern_system.system_formalism.relation_descriptors, :id, :name %>
</p>
</div>
<%= relation_form.hidden_field :source_pattern_id %>
<p style="float: right"><%= link_to_function "Cancel", "$$('.active_map').first().remove(); Popup.close('pattern_selector')"%> | <%= link_to_function "Ok", "$('pattern_selector_form').request()" %></p>
<%- end %>
</div>
