<% unless f.blank? %> 
  <% case f
      when TextInstance, StringInstance %>
  <h3><%= f.field_descriptor.name %></h3>
  <%= f.content %><%
      when MappableImage %>
  <h3><%= f.field_descriptor.name %></h3>
<%="<dl id=\"mappable_image_image_#{f.field_descriptor_id}\" class=\"mappable_image\"  style=\"position: relative; background: url(#{f.image.url}) no-repeat; height: #{f.image_height}px; width: #{f.image_width}px;\">" %>
  <% maps = @process_pattern.maps.select{|a| a.mappable_image_id == f.id} %>
  <% unless maps.empty?  %>
    <% maps.each do |map| %>
<%="<dd class='map' style=\"position: absolute; display: block; width: #{map.width}px; height: #{map.height}px; top: #{map.y_corner}px; left: #{map.x_corner}px; border: 1px solid red; margin: 0; padding: 0\"> "%>
<%= link_to "", [@pattern_system, map.relation.target_pattern], {:style => "display: block; width: #{map.width}px; height: #{map.height}px; top: #{map.y_corner}px; left: #{map.x_corner}px;"} %>
</dd>
    <%- end %>
  <%- end %></dl><%
      when Array %>
  <h3><%= f.first.classification_element.field_descriptor.name.capitalize %></h3>
  <ul>
  <% f.each do |classif| %>
      <li><%= classif.classification_element.name %></li>
  <%- end %>
  </ul>
  <%- end %>
<%- end %> 
