%h1
  = h t(:editing_pattern)
  \:
  = @process_pattern.pattern_formalism.name + ':' + @process_pattern.name

=form_for([@pattern_system, @process_pattern], :html => {:multipart => true}) do |f|
  = f.error_messages
  = render :partial => 'form', :locals => {:f => f}

  .commands
    %p
      = f.submit t(:update)
      |
      = link_to t(:back), [@pattern_system, @process_pattern]
