  <h1><%= h @process_pattern.name %></h1>
  

<div class="block">
<h2>Interface</h2>
  <% @interface_fields.each do |f| %>
  <%= render :partial => 'show_field', :locals => {:f => f} %>
<%- end %>

  </div>


 <!-- <div style="border: dashed thin #666;background-color: #eee; padding: 0.5em; margin-left: 3em; color: #666">
  <h4><a style="color: #666;" href="#" onclick="Effect.toggle('toggle_appear', 'slide'); return false;">D'autres patrons traitent le même problème :</a></h4>
  <div id="toggle_appear" style="display: none">
  <ul>
    <li>Améliore la maniabilité... > <a href="">Voiture maniable</a></li>
    <li>Améliore la puissande d... > <a href="">Voiture puissante</a></li>
  </ul>
  </div>
</div>  -->

<div class="block">
<h2>Solution</h2>

<% @solution_fields.each do |f| %>
  <%= render :partial => 'show_field', :locals => {:f => f} %>
<%- end %>
</div>
<%= link_to t(:edit), edit_pattern_system_pattern_path(@pattern_system, @process_pattern) %> |
<%= link_to t(:delete), [@pattern_system, @process_pattern], :confirm => 'Are you sure?', :method => :delete%>
