%h3
  = classification_name(cl)
  - if @noob_mode
    = link_to_function "?", "new Effect.toggle(\"classif_#{cl.id}\", 'slide', { duration : 0.2})", :class => "question_mark"
- if @noob_mode
  %div.helper_info{:id => "classif_#{cl.id}", :style => "display: none"}
    %p= cl.description
.classification
  - selection = pattern_system.classification_elements.select{|a| a.field_descriptor_id == cl.id}
  = f.fields_for :classification_elements, selection do |classif_form|
    = render 'classification_fields', :f => classif_form
  = link_to_add_fields "add", f, :classification_elements, cl.id
