.patternSystemClassification
  = link_to_function(image_tag('common_images/delete.png', :class => 'delete'), 'remove_fields(this)')
  = f.hidden_field :_destroy
  %p
    = f.hidden_field :field_descriptor_id
    = f.label :name, 'Name'
    %br
    = f.text_field :name, :class => 'classificationName'
  %p
    = f.label :description, 'Description'
    = f.text_area :description, {:style => 'height: 5em; width: 100%;', :class => 'mceEditor'}
  = javascript_tag "tinyMCE.execCommand('mceAddControl', false, \"pattern_system_classification_elements_attributes_new_classification_elements_description\")"
