<% form_remote_tag(:url => {:action => "create_cloned_system", :id => params[:id]}, :html => {:id => 'clone_form'}) do %>
	<%= error_messages_for :object => @new_system, :object_name => PatternSystem.human_name %>
  <table>
	<tr>
		<td><%= label_tag :short_name, t(:short_name)%></td>
		<td><%= text_field_tag :short_name %></td>
	</tr>
	<tr>
		<td><%= label_tag :name, t(:name) %></td>
		<td><%= text_field_tag :name %></td>
	</tr>
	<tr>
		<td><%= label_tag :author, t(:author) %></td>
		<td><%= text_field_tag :author %></td>
	<tr>
  </table>
  <%= submit_tag t(:clone_system), :id => "submit", :name => "submit" %>
<% end -%>