%table
	%tr
		%td= f.label :author, t(:author)
		%td= f.text_field :author 
	%tr
		%td=  f.label :name, t(:name)
		%td=  f.text_field	:name
	%tr
		%td= f.label :short_name, t(:short_name)
		%td= f.text_field :short_name

%h3
	= t :updates
	- if @noob_mode
		= link_to_function "?", "new Effect.toggle('effect_test1', 'slide', { duration : 0.2})", :class => "question_mark"
- if @noob_mode
	%div#effect_test1.helper_info{:style => "display:none"}
		%p Some blah blah about the wonderful updates attribute. Check it out someplace and some other time!
= f.text_area(:update_field, :class => "mceEditor")

%h3
	= t :characteristics
	-if @noob_mode
		= link_to_function "?", "new Effect.toggle('effect_test2', 'slide', { duration : 0.2})", :class => "question_mark"
- if @noob_mode
	%div#effect_test2.helper_info{:style => "display:none"}
		%p Some blah blah about the wonderful characteristics attribute. Check it out someplace and some other time!
= f.text_area(:characteristics, :class => "mceEditor")

%h3= t :root_pattern
= collection_select(:pattern_system, :root_pattern, @pattern_system.process_patterns, :id, :name, {:include_blank => true})