- if params[:from_create]
  %h1 Creation of a new pattern system (step 2/2)
- else
  %h1 Editing pattern system
= form_for(@pattern_system) do |f|
  = f.error_messages

  = render :partial => 'form', :locals => {:f => f}

  .commands
    %p
      = f.submit t(:update)
      |
      = link_to t(:back), @pattern_system
