<h1><%= t(:new_pattern_system)%></h1>

<% form_for(@pattern_system) do |f| %>
  <%= f.error_messages %>
	<%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit t(:create) %>
  </p>
<% end %>

<%= link_to t(:back), pattern_systems_path %>
