<h1><%= @pattern_system.name %></h1>
<h2><%= t :updates %></h2>
<div id="update_field">
<%= @pattern_system.update_field %>
</div>
<div class="block">
<h2><%= t :author %></h2>
<%= @pattern_system.author %>
</div>

<div class="block">
<h2><%= t :characteristics %></h2>
<%= @pattern_system.characteristics %>
</div>

<div class="block">
<h2><%= t :root_pattern %></h2>
<% if @root_pattern.nil? %>
	<%= image_tag 'UnknownImage.png', :width  => 100 %>
<% else %>
	<%= link_to(@root_pattern.name,[@pattern_system, @root_pattern], :class  => 'crawlable') %>
<% end %>
</div>

<div class="block">
<h2><%= t :patterns_list %></h2>
<ul>
<% for pattern in @patterns_list%>
<li><%= link_to(pattern.name,[@pattern_system, pattern], :class  => 'crawlable') %></li>
<% end %>
</ul>
</div>

<div class="block">
<h2>Participants</h2>

<% if @participant.nil? %>
<ul>
	<% for participant in @pattern_system.participants%>
		<li><b><%= participant.name %>:</b><%= link_to t(:edit_participant), edit_pattern_system_participant_path(@pattern_system, participant) %> |
											<%= link_to t(:delete_participant), [@pattern_system, participant], :method => :delete %>
		<br /><%= participant.description%></li>
	<% end %>
</ul>

<%= link_to t(:add_new_participant), new_pattern_system_participant_path(@pattern_system) %> <br />

<% else %>
	<% if @isEditing %>
		<% form_for [@pattern_system, @participant], :method => :put do |p| %>
		<%= error_messages_for 'participant', :object => @participant %>
		<label for="name"><%= t(:name_of_participant)%> :</label>
		<%= p.text_field :name %><br />
		<label for="description"><%= t(:description_of_participant_role) %> :</label>
		<%= p.text_area(:description, :class  => "mceEditor") %>
		<%= p.submit t(:update_participant) %>
		<% end %>
	<% else %>
		<% form_for [@pattern_system, @participant], :method => :post do |p| %>
		<%= error_messages_for 'participant', :object => @participant %>
		<label for="name"><%= t(:name_of_participant)%> :</label>
		<%= p.text_field :name %><br />
		<label for="description"><%= t(:description_of_participant_role) %> :</label>
		<%= p.text_area(:description, :class  => "mceEditor") %>
		<%= p.submit t(:create_participant) %>
		<% end %>
	<% end %>



<% end %>
</div>


<div class="block">

<%= link_to t(:add_new_pattern), new_pattern_system_process_pattern_path(@pattern_system) %><br />

<%= link_to t(:edit), edit_pattern_system_path(@pattern_system) %>
</div>