<% unless @process_pattern.new_record? or @process_pattern.nil? or @process_pattern.mappable_image.blank? %> 
	<%= javascript_tag "observeThisPage(\"#{@pattern_system.short_name}\", #{@process_pattern.id}, \"#{@process_pattern.mappable_image.public_filename}\", #{@process_pattern.mappable_image.width.to_s}, #{@process_pattern.mappable_image.height.to_s})" %>
<% end %>

<table>
	<tr>
		<td><%= f.label :author, t(:author) %></td><td><%= f.text_field	:author %></td>
	</tr>
</table>

<h2>Interface</h2>
  <% @interface_fields.each do |field| %>
    <h3><%= field.name.capitalize %>
    <% if @noob_mode %>
    <%= link_to_function "?", "new Effect.toggle('effect_interface_#{field.index}', 'slide', { duration : 0.2})", :class => "question_mark"%>
    <%- end %></h3>
	<% if @noob_mode %>
	<div id=<%="effect_interface_#{field.index}"%> class="helper_info" style="display:none">
	<p><%= field.description %></p>	
	</div>
	<% end %>
    <% case field.field_type 
       when 'string' %><p><%= text_field_tag field.name, nil, :size => 60 %></p><% 
       when 'text' %>
        <p><%= text_area_tag field.name, nil, :class => 'mceEditor' %></p><%
       when 'model_set' %>
        <p>Should display a model set</p><%
       when 'mappable_image' %>
        <p>Should display some stuff for loading and modifying a mappable image</p>
    <%- end %>
  <%- end %>

<h2>Solution</h2>
  <% @solution_fields.each do |field| %>
    <h3><%= field.name.capitalize %>
    <% if @noob_mode %>
      <%= link_to_function "?", "new Effect.toggle('effect_solution_#{field.index}', 'slide', { duration : 0.2})", :class => "question_mark"%>
    <%- end %></h3>
	<% if @noob_mode %>
	<div id=<%="effect_solution_#{field.index}"%> class="helper_info" style="display:none">
	<p><%= field.description %></p>	
	</div>
	<% end %>
    <% case field.field_type 
       when 'string' %><p><%= text_field_tag field.name, nil, :size => 60 %></p><% 
       when 'text' %>
        <p><%= text_area_tag field.name, nil, :class => 'mceEditor' %></p><%
       when 'model_set' %>
        <p>Should display a model set</p><%
       when 'mappable_image' %>
        <p>Should display some stuff for loading and modifying a mappable_image. 
        Find the mappable image that corresponds to this field index</p>
    <%- end %>
  <%- end %>

		<ul>
		<% for participant in @participants %>
			<li><%= participant.name %> | <%= link_to_remote 'Remove', :update => 'participants', :url => {:pattern_system_id => @pattern_system.short_name, :action => 'remove_participant', :id => @process_pattern, :participant  => participant} %></li>
		<% end %>
		</ul>
		<% unless @selectable_participants.empty? %>
		<%= select(:participant, :name, @selectable_participants.collect{|p| [p.name, p.id]}, {:include_blank => true}) %>
		<%= link_to_remote t(:add), :update  => 'participants', :url  => {:pattern_system_id => @pattern_system.short_name, :action => "add_participant", :id  => @process_pattern}, :with  => "'participant=' + $('participant_name').value" %>
		<% end %>

	<h3><%= t :process_image %></h3>
	<% unless @process_pattern.mappable_image.blank? %>
	<dl id="method_image">
		<div id="overlay" ></div>
		<div id="selection"><div class="handle" id="tl_rect"></div><div class="handle" id="tr_rect"></div><div class="handle" id="bl_rect"></div><div class="handle" id="br_rect"></div></div>
		<div id="pattern_choice"></div>
	</dl>
	<%= image_tag 'common_images/AddMapArea.png', :size  => "50x50", :id => 'plus_sign'%>
	<%= image_tag 'common_images/ValidateMapArea.png', :size  =>  "50x50", :id  => 'validate_area'%>

	<% end %>
	<br />
	<% fields_for :mappable_image do |m| %>
		<%= m.label :uploaded_data, t(:upload_a_file) %> :</label>
		<%= m.file_field	:uploaded_data %>
	<% end %>
