	<h1><%= h @process_pattern.name %></h1>
	

  <p>
	<%= t :author %> : <%= h @process_pattern.author %>
  </p>

<div class="block">
<h2>Interface</h2>
	<h3><%= t :name %></h3>
	<%= h @process_pattern.name %>
	
	<h3>Participants</h3>
	<ul>
		<% for participant in @process_pattern.participants %>
			<li><%= h participant.name%></li>
		<% end %>
	</ul>
	
	<h3>Classification</h3>
	<%= h @process_pattern.classification %>
	
	<h3><%= t :context %></h3>
		<h4><%= t :process_context %></h4>
		<ul>
		<% for context_pattern in @process_pattern.context_patterns %>
			<li><%= link_to h context_pattern.name, [@pattern_system, context_pattern], :class  => 'crawlable' %></li>
		<% end %>
		</ul>
		
	<!--	<h4><%= t :product_context %></h4>
		<%= @process_pattern.productContext %> -->
	
	<h3><%= t(:problem) %></h3>
	<%= @process_pattern.problem %>
	
	<h3>Forces</h3>
	<%= @process_pattern.forces %>
	
	<div style="border: dashed thin #666;background-color: #eee; padding: 0.5em; margin-left: 3em; color: #666">
	<h4><a style="color: #666;" href="#" onclick="Effect.toggle('toggle_appear', 'slide'); return false;">D'autres patrons traitent le même problème :</a></h4>
	<div id="toggle_appear" style="display: none">
	<ul>
		<li>Améliore la maniabilité... > <a href="">Voiture maniable</a></li>
		<li>Améliore la puissande d... > <a href="">Voiture puissante</a></li>
	</ul>
	</div>
	</div>
</div>	

<div class="block">
<h2>Solution</h2>

	<h3><%= t :process_image %></h3>
	<% if @image.blank? %>

	<%= image_tag 'common_images/UnknownImage.png', :width  => 100 %>
	<% else %>
	<dl id="method_image" style=<%= "\"background: url(\'#{ @image.public_filename}\') no-repeat; width: #{@image.width}px; height: #{@image.height}px;\""%> >
		<% for map in @maps %>
			<dd style=<%= "\"left: #{map.x_corner}px; top: #{map.y_corner}px;width: #{map.width}px; height: #{map.height}px;\"" %>>
			<a style=<%= "\"display: block; width: #{map.width}px; height: #{map.height}px;text-decoration: none;\" href= \"/pattern_systems/#{@pattern_system.short_name}/process_patterns/#{map.target_pattern_id}\" class=\"crawlable\""%>></a>
			</dd>
		<% end %>
	</dl>
	<% end %>

	<!-- <h3><%= t :process_model %></h3>
	<% if @model.nil? %>
	<%= image_tag 'common_images/UnknownImage.png', :width  => 100 %>
	<% end %> -->

	<h3><%= t :process_solution %></h3>
	<%= @process_pattern.process_solution %>
	
	<h3><%= t :product_solution %></h3>
	<%= @process_pattern.product_solution %>
 
	<h3><%= t :application_case %></h3>
	<%= @process_pattern.application_case %>
	
	<h3><%= t :application_consequence %></h3>
	<%= @process_pattern.application_consequence %>
</div>
<div class="block">

<h2>Relations</h2>
	<h3><%= t :uses %></h3>
	<ul>
	<% for use_pattern in @use_patterns %>
		<li><%= link_to use_pattern.name, [@pattern_system, use_pattern], :class  => 'crawlable' %></li>
	<% end %>
	</ul>
	<!-- <h3><%= t :requires %></h3>
	
	<h3>Alternative</h3> -->
</div>

<%= link_to t(:edit), edit_pattern_system_process_pattern_path(@pattern_system, @process_pattern) %> |
<%= link_to t(:delete), [@pattern_system, @process_pattern], :confirm => 'Are you sure?', :method => :delete%>
