<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>PatternSystems: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'generic', 'styles' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'livepipe' %>
  <%= javascript_include_tag 'cookie' %>
  <%= javascript_include_tag 'parameters' %>
 <%= include_tiny_mce_if_needed %>
</head>
<body>
<div id="wrapper">
<div id="header"><span>
	<% unless controller.action_name == 'index' %>
		<%= link_to((t :back_to_systems_list), pattern_systems_path) %>
	<% end %>
</span>
<span id="param_span">| <%= link_to_function t(:settings), nil  do |page|
	page.visual_effect	:toggle_appear, 'params'
	page.call	'manage_parameters', t(:enable_helpers) , t(:disable_helpers) 
end%>
</span>
</div>
<%= render :partial => 'shared/parameters' %>
<div id="content">
<p style="color: green" id="notices"><%= flash[:notice] %></p>

<%= yield  %>

</div>
<div class="clearfooter"></div>
</div>
<div id="copyright_notice">©2009, Guillaume Godet-Bar<br />Contact: guillaume dot godetbar at gmail dot com</div>

</body>
</html>
