<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>PatternSystems: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'generic', 'styles' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'livepipe' %>
  <%= javascript_include_tag 'cookie' %>
  <%= javascript_include_tag 'parameters' %>
  <%= javascript_include_tag 'popup' %>
 <%= include_tiny_mce_if_needed %>
</head>
<body>
<div id="wrapper">
<div id="header"><span>
	<% unless controller.action_name == 'index' %>
		<%= link_to((t :back_to_systems_list), pattern_systems_path) %>
	<% end %>
</span>
<%= render 'shared/params_button' %>
<div id="tabs" style="position: absolute; bottom: 0px; margin-left: 1em; padding: 0;<%=  "display: none" if @noob_mode %>">
  <div id="pattern_systems_tab" style="float: left">
  <%= image_tag("common_images/white_border_left.png", :style => "position: relative; margin: 0; float: left") %>
<div style="position: relative; display: table-cell; vertical-align: middle; height: 33px; padding-left: 3px; padding-right: 3px; margin-top: -33px; text-align: center; background-color: white; font-weight: bold;color: black"><%= "Pattern systems" %></div>
<%= image_tag("common_images/white_border_right.png", :style => "position: relative; float: right; margin-right: -5px; margin-top: -33px") %>
  </div>
  <div id="pattern_formalisms_tab" style="float: left; margin-left: 0.8em">
  <%= image_tag("common_images/blue_border_left.png", :style => "position: relative; margin: 0; float: left") %>
  <div style="position: relative; display: table-cell; vertical-align: middle; height: 33px; padding-left: 3px; padding-right: 3px; margin-top: -33px; text-align: center; background: #fff url('/images/common_images/blue_background.png') repeat-x top left; font-weight: bold;"><%= link_to "System formalisms", system_formalisms_path, :style => "text-decoration: none; color: white;" %></div>
<%= image_tag("common_images/blue_border_right.png", :style => "position: relative; float: right; margin-right: -5px; margin-top: -33px") %>
  </div>
</div>
</div>
<%= render :partial => 'shared/parameters' %>
<div id="content">
<p style="color: green" id="notices"><%= h flash[:notice] %></p>

<%= yield  %>

</div>
<div class="clearfooter"></div>
</div>
<%= render 'shared/copyright' %>

</body>
</html>
