!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{"http-equiv"=>"content-type", :content=>"text/html;charset=UTF-8"}
    %title Pattern systems: #{controller.action_name}
    = stylesheet_link_tag 'generic', 'styles'
    = javascript_include_tag :defaults
    = javascript_include_tag 'livepipe'
    = javascript_include_tag 'cookie'
    = javascript_include_tag 'treemenu'
    = javascript_include_tag 'parameters'
    = javascript_include_tag 'popup'
    = javascript_include_tag 'state_machine'
    = javascript_include_tag 'selector'
    = javascript_include_tag 'image_mapper'
    = init_tinymce_hammer_if_required
  %body
    #wrapper
      #header
        = render "shared/params_button"
        = render "shared/parameters"
      - if @process_pattern
        = render "patterns_selection"
      #navigation_bar
        %span{:style => "margin-left: 2em"}
          = link_to t(:back_to_system), @pattern_system, :class => "crawlable"
          - unless @process_pattern.nil?
            |
            = h @process_pattern.name
            = render "search_form"
      #content
        %p#notices{:style => "color:green"}= h flash[:notice]
        = yield
      #patternList
        %h3= t(:patterns_list)
        - patterns_list = @pattern_system.structured_pattern_list
        - patterns_list.each_key do |key| 
          - unless patterns_list[key].empty?
            %b= key
            %ul{:style=>"margin-left: -3.4em;"}
              - patterns_list[key].each do |pat|
                %li{:id => "pat_item_#{pat.id}"}
                  %span= pat == @process_pattern ? pat.name : link_to(pat.name, [@pattern_system, pat])
        - unclassified = @pattern_system.patterns - patterns_list.values.flatten
        - unless unclassified.empty?
          %b= t(:unclassified)
          %ul{:style=>"margin-left: -3.4em;"}
            - unclassified.each do |pat|
              %li{:id => "pat_item_#{pat.id}"}
                %span= pat == @process_pattern ? pat.name : link_to(pat.name, [@pattern_system, pat])
      .clearfooter
    = render "shared/copyright"
