<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @process_pattern ? @process_pattern.name : t(:search) %></title>
  <%= stylesheet_link_tag 'generic', 'styles' %>

  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'livepipe' %>
  <%= javascript_include_tag 'cookie' %>
  <%= javascript_include_tag 'treemenu'%>

  <%= include_tiny_mce_if_needed %>
</head>
<body>
<div id="wrapper">
	<div id="header">
	<div id="top_params">
		<span style="float:left;"><% form_tag pattern_system_process_patterns_path, :method => 'get' do %>
		    <%= text_field_tag :search, params[:search] %>
		    <%= submit_tag t(:search), :name => nil %>
		<% end %>
		</span>
		<span style="float:right;">
		 <%= link_to_remote t(:settings), :url => {:action => 'display_parameters'} %>
		</span>
		</div>
	</div>
	<div id="params" style="display: none">
		
	</div>
	<div id="navigation_bar">
	<span style="margin-left: 2em;">
	<%= link_to((t :back_to_system), @pattern_system, :class  => 'crawlable') %> | 
	<% unless @process_pattern.nil? %>
		<% for ancestors in @process_pattern.ancestors %>
			<% if @process_pattern.ancestors.size > 2 %>
				<%= link_to(shortify(ancestors.name), [@pattern_system, ancestors], {:class => 'crawlable', :title => ancestors.name}) + " > "%>
			<% else %>
				<%= link_to(ancestors.name, [@pattern_system, ancestors], :class => 'crawlable') + " > "%>
			<% end %>
		<% end %>
			<%= @process_pattern.name %>
	<% end %>
	</span>
	</div>
	<div id="content">
<p style="color: green"><%= flash[:notice] %></p>

	<!-- <li id="first_pattern"><span><a href="">First pattern</a></span></li>
	<li id="second_pattern"><span><a href="">Second pattern</a></span>
		<ul>
			<li id="sub_pattern_1"><span><a href="">Sub pattern 1</a></span></li>
			<li id="sub_pattern_2"><span><a href="">Sub pattern 2</a></span></li>
			<li id="sub_pattern_3"><span><a href="">Sub pattern 3</a></span></li>
		</ul>
	</li> -->

<%= yield  %>
</div>
<div id="patternList">
	<h3><%= t :patterns_list %></h3>
	<ul style="margin-left: -3.4em;">
		<li id="a1"><span><a href="javascript:void(0);">Phase d'étude préalable</a></span>
			<ul>
				<li id="a2"><span><a href="javascript:void(0)">Test</a></span></li>
			</ul>
		</li>
		
		<li id="a15"><span><a id="a3" href="javascript:void(0);">Phase de spécification conceptuelle des besoins</a></span>
			<ul>
				<li id="a7"><span><a href="javascript:void(0)">Description conceptuelle du processus métier</a></span></li>
				<li id="a8"><span><a href="javascript:void(0)">Décomposition du processus métier</a></span></li>
				<li id="a5"><span><a href="javascript:void(0)">Identifier les processus métier composant</a></span></li>
				<li id="a9"><span><a href="javascript:void(0)">Élaboration des prescriptions ergonomiques</a></span></li>
				<li id="a10"><span>Identification du type d'interaction</span></li>
				<li id="a11"><span><a href="javascript:void(0)">Sélection du panel représentatif d'utilisateurs</a></span></li>
				<li id="a12"><span><a href="javascript:void(0)">Affectation de priorités aux PMC</a></span></li>
			</ul>
		</li>
		<li id="a16"><span><a id="a4" href="javascript:void(0);">Phase de spécification organisationnelle et interactionnelle des besoins</a></span>
			<ul>
				<li id="a6"><span><a href="javascript:void(0)">Test</a></span></li>
			</ul>	
		</li>
		<li><span><a id="a13" href="javascript:void(0);">Phase d'analyse</a></span>
			<ul>
				<li id="a14"><span><a href="javascript:void(0)">Test</a></span></li>
			</ul>	
		</li>
		<!-- <% for pattern in @patterns_list %>
			<% if @process_pattern && pattern.id == @process_pattern.id %>
		<li><%= h(pattern.name) %></li>
			<% else %>
		<li><%= link_to(h(pattern.name), [@pattern_system, pattern], {:class  => 'crawlable', :id => "process_#{pattern.id}"}) %></li>
			<% end %>
		<% end %> -->
	</ul>
</div>
 <div class="clearfooter"></div>
 </div>
<div id="copyright_notice">©2009, Guillaume Godet-Bar<br />Contact: guillaume dot godetbar at gmail dot com</div>
</body>
</html>
