<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @process_pattern ? @process_pattern.name : t(:search) %></title>
  <%= stylesheet_link_tag 'generic', 'styles' %>

  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'livepipe' %>
  <%= javascript_include_tag 'cookie' %>

  <%= include_tiny_mce_if_needed %>
</head>
<body>
	<div id="header">
	<span id="param_span">
		<% form_tag pattern_system_process_patterns_path, :method => 'get' do %>
		    <%= text_field_tag :search, params[:search] %>
		    <%= submit_tag t(:search), :name => nil %>
		<% end %>
		| <%= link_to_remote t(:settings), :url => {:action => 'display_parameters'} %></span>
	</div>
	<div id="params" style="display: none">
		
	</div>
	<span style="float:left; margin-left:2em;">
	
	<%= link_to((t :back_to_system), @pattern_system, :class  => 'crawlable') %> | 
	<% unless @process_pattern.nil? %>
		<% for ancestors in @process_pattern.ancestors %>
			<% if @process_pattern.ancestors.size > 2 %>
				<%= link_to(shortify(ancestors.name), [@pattern_system, ancestors], :class => 'crawlable') + " > "%>
			<% else %>
				<%= link_to(ancestors.name, [@pattern_system, ancestors], :class => 'crawlable') + " > "%>
			<% end %>
		<% end %>
			<%= @process_pattern.name %>
	<% end %>
	</span>
	<div id="content">
<p style="color: green"><%= flash[:notice] %></p>



<%= yield  %>
</div>
<div id="patternList">
	<h3><%= t :patterns_list %></h3>
	<ul>
		<% for pattern in @patterns_list %>
			<% if @process_pattern && pattern.id == @process_pattern.id %>
		<li><%= h(pattern.name) %></li>
			<% else %>
		<li><%= link_to(h(pattern.name), [@pattern_system, pattern], :class  => 'crawlable') %></li>
			<% end %>
		<% end %>
	</ul>
</div>
 <div class="clearfooter"></div>
<div id="copyright_notice">©2009, Laboratoire d'Informatique de Grenoble<br />Contact: Guillaume.Godet-Bar@imag.fr</div>
</body>
</html>
