!!!
%html
  %head
    %meta{:httpEquiv => "content-type", :content => "text/html;charset=UTF-8"}
    %title System formalisms
    = stylesheet_link_tag 'generic', 'styles'
    = javascript_include_tag :defaults
    = javascript_include_tag 'livepipe'
    = javascript_include_tag 'cookie'
    = javascript_include_tag 'parameters'
    = javascript_include_tag 'popup'
  %body
    #wrapper
      #header
        = render 'shared/params_button'
        = render 'shared/tabs'
      = render 'shared/parameters'
      #content
        %p#notices{:style => "color:green"}= h flash[:notice]
        = yield
      .clearfooter
    = render 'shared/copyright'
